*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bodyImages .ninjaImage{
    margin:40px;
    border:2px solid black;
    padding:20px;
    width:10%;
      
}

button{
    color:white;
    font-size:30px;
    width:10%;
    height:10%;
    margin-left:40px;
    border-radius:10px;

    background-color:green;
}